@import '~bruce/bruce';
@import 'config';
@include bruce-reset;
@include bruce-box-sizing;
@include bruce-widths;

@import '../pages/spoon/styles';
@import '../pages/decimal-time/styles';

body {
    font-family: 'Menlo', 'Inconsolata', monospaced;
    font-size: 13px;
    line-height: 1.6;
    color: grey(20);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a {
    color: color('blue');
    margin-right: .25rem;

    &:visited {
        color: color('purple');
    }
}



.wrapper {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.Navigation {
    position: fixed;
    width: 16rem;
    padding-top: 1rem;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: white;

    ul {
        margin-bottom: 1rem;
    }
}

.Content {
    margin-left: 16rem;
}

.Example {
    @include bruce-clearfix;
    background-color: grey(90);
    margin-top: -1rem;
    padding: 1rem;

    div {
        border: 1px solid grey(70)
    }

}

.List {
    list-style-type: square;
    padding-left: 1.5rem;
}

.Main {
    padding: 2rem;

}
